Package: dns4j
Version: 1.0.beta3
Maintainer: Lorenzo Ingrilli <info@lorenzoingrilli.it>
Description: DNS Server
Section: net
Priority: standard
Essential: no
Depends: default-jre (>=1.6)
Architecture: all
